doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Erasmus+ - EsACT
        <meta name="description" content="Erasmus+ IPB: Candidata-te a uma experiência de mobilidade internacional na Europa ou no Mundo. Bolsas disponíveis para estudos e estágios. Inscrições até 19 de março de 2023.">
        <meta name="keywords" content="Erasmus, EsACT, Candidaturas, Experiência, Estrangeiro, Mobilidade, Estudos, Estágios, Bolsas, Valores bolsas, Curso de línguas, Centro de Línguas, IPB, Gabinete de relações internacionais, Perguntas, Respostas">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav_en

        section#top
            .col#erasmusimg
                .erasimg(style="background-image: url('../../../imgs/erasmus.jpeg');")
                    .erastext.d-flex.justify-content-center.align-items-center
                        h1.fw-bold.display-3 Erasmus+

            .container
                    
                    .col.d-flex.justify-content-center
                        i.h2.bi.bi-caret-down

                    .decptext.text-center
                        h2 Applications up to:
                    
                    .decptext.text-center
                        p.lead.display-6 March 19, 2023

            

                    .decptext.text-start
                        h3 Experience abroad:
                        p.lead A recent study carried out by the European Commission found that graduates with experience of international mobility have unemployment rates that are 23% lower than other graduates. The IPB ensures the international mobility of 900 students per year; 20% of IPB students are foreigners; 25% of its graduates have completed a period of international mobility throughout their studies. You too can and should have an experience of international mobility, in Europe (through the Erasmus+ Programme) and in the World (through cooperation protocols with partner higher education institutions on five continents). You will be able to carry out international mobility for studies and internships, as a student and as a recent graduate. As an IPB student, you have at your disposal scholarships to support various types of international mobility.
            
            .container.d-flex.justify-content-center.pt-5 
                a(href="https://online.ipb.pt/ui/#/site/gri/candidaturas/mobilidade" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Applications


        section#info.mt-5
            .container
                .decptext.text-start
                     h4 During each cycle of studies, the student will be able to carry out mobility for studies (SMS scholarships) and for internship (SMT scholarships, as a student or recent graduate), for a total of 12 months (12 months for CTESP + Bachelor's degree and another 12 months for Master's degree).
                  
                .decptext.text-start
                     h4 Study Mobility:
                     p.lead The mobility for studies (SMS) is aimed at students of Bachelor's and Master's study cycles to complete curricular units in a European Higher Education Institution (HEI). The IPB guarantees the attribution of an SMS scholarship during the entire mobility period (between 3 and 12 months). The completion of study mobility will be certified in the Diploma Supplement.
                  
                   
                .decptext.text-start
                     h4 Mobility for Internships:
                     p.lead Mobility for internships (SMT) is intended for: <br> a) a) Students, to carry out curricular and extracurricular internships of CTESPs Bachelor's and Master's Degrees (including internships for Dissertation, Project or Professional Internship subject to final report); <br> b) Recent graduates, provided that they are completed within one year after the date of obtaining the diploma of the cycle of studies in which they were enrolled. <br> The IPB guarantees the award of an SMT scholarship during the entire mobility period (between 2 and 12 months). The completion of curricular and extracurricular internships will be certified in the Diploma Supplement when carried out as a student or through a specific certificate when carried out as a recent graduate.
                  
                   
                .decptext.text-start
                     h4 Scholarship:
                     p.lead The linguistic preparation of students is essential for the success of Erasmus and International mobility and a clear added value for their employability in both national and international contexts. Don't miss this opportunity that IPB offers you! For only 20 Euros, IPB students will be able to take a language preparation course in English or other languages (Spanish, French, German, Mandarin), according to their level of proficiency. Social Action scholarship students will be exempt from this payment. When applying for Erasmus and International mobility grants, students must choose the preparation course in their preferred language.
                  

            .container.d-flex.justify-content-center.pt-5 
                a(href="../../../pdf/Bolsas_erasmus.pdf" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Scholarship Values

        section#cursol.mt-5
            .container
                .decptext.text-center
                     h2 Language Courses
                  
                .decptext.text-start
                     p.lead The linguistic preparation of students is essential for the success of Erasmus and International mobility and a clear added value for their employability in both national and international contexts. Don't miss this opportunity that IPB offers you! For only 20 Euros, IPB students will be able to take a language preparation course in English or other languages (Spanish, French, German, Mandarin), according to their level of proficiency. Social Action scholarship students will be exempt from this payment. When applying for Erasmus and International mobility grants, students must choose the preparation course in their preferred language.
                  
                   
                .decptext.text-start
                     h4 Language preparation courses:
                     p.lead Place of operation and organization: in the various IPB Schools, according to the number of students enrolled and under the organization of the IPB Language Centre; <br> Duration of the course: 1 semester, 15 weeks, 2x2 hours per week, at a time compatible with the rest of the teaching activity; <br> Certificate: students who successfully complete the course will be awarded a diploma proving their level of competence, in accordance with the Council of Europe's Common European Framework of Reference for Languages;<br>Cost: 20 Euros (Social Action scholarship students are exempt from payment).
                  
                   
                .decptext.text-start
                     h4 More information:
                   
                  

                .container.d-flex.justify-content-center.pt-5 
                    .row
                        a(href="https://portal3.ipb.pt/index.php/pt/ipb/quem-somos/servicos-centrais/gabinetes-tecnicos/gabinete-de-relacoes-internacionais" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4.me-5.mb-4 International Relations Office
                        a(href="https://portal3.ipb.pt/index.php/pt/centrolinguas/cursos-de-linguas" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 IPB Language Centre


        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 FAQ


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") 1. What are the types of student mobility in the Erasmus+ Programme?
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Erasmus student mobility can be carried out for studies (SMS, Student Mobility for Studies) or for curricular or extracurricular internships (SMP, Student Mobility for Placements). During each cycle of studies (Bachelor's and Master's degrees) the student will be able to carry out mobility for studies (SMS scholarships) and mobility for internship (SMP scholarships, as a student or recent graduate) for a total of 12 months.

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-2") 2. Who can participate in the Erasmus+ Programme?

                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 IPB students can participate in the Erasmus+ Programme who:- Regardless of their nationality, are enrolled in a Bachelor's degree (in the 2nd curricular year or later) or Master's degree cycle of IPB, in the academic year in which they carry out the mobility and have their tuition fee situation regularized;- Regardless of their nationality, are recent IPB graduates (Bachelor's or Masters) and intend to carry out extracurricular internship mobility ending up to 12 months after graduation. date of obtaining the respective diploma.

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-3
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-3", 
                        aria-expanded="true", aria-controls="chapter-3") 3. What is the financial support for Erasmus+ mobility?

                    #chapter-3.accordion-collapse.collapse(aria-labelledby="heading-3", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 The IPB annually provides mobility grants for studies (SMS grants) and internships (SMP grants). The number of grants made available annually depends on the funding and the minimum number of flows established by the National Agency. These scholarships are distributed among the various IPB Schools, according to their mobility history.
                              
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-4
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-4", 
                        aria-expanded="true", aria-controls="chapter-4") 4. What are the rules for awarding Erasmus+ mobility grants?

                    #chapter-4.accordion-collapse.collapse(aria-labelledby="heading-4", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 The allocation of mobility grants is the responsibility of the Erasmus Coordinator of each School. Priority will be given to all students who prove proficiency in English or another foreign language when used at the destination HEI (the IPB Language Centre, in collaboration with the GRI, offers English and Spanish courses, specially designed for students who wish to carry out Erasmus mobility). Additional ranking criteria are the candidates' CVs, namely, participation in Buddy initiatives (Erasmus sponsor), the number and classification of accumulated credits. If deemed pertinent, the ranking of candidates may include an interview.

            
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-5
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-5", 
                        aria-expanded="true", aria-controls="chapter-5") 5. Can I do Erasmus+ mobility without a scholarship?

                    #chapter-5.accordion-collapse.collapse(aria-labelledby="heading-5", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Yes, mobility beyond the number of scholarships available is possible, but without funding and as long as it respects the rules of the program: during each cycle of studies (Bachelor's and Master's) the student will be able to carry out mobility for studies (SMS scholarships) and mobility for internship (SMP scholarships, as a student or recent graduate) for a total of 12 months. Mobility students without financial support may also be awarded a mobility grant if there is a final redistribution of funds by the National Agency, at the end of each academic year.
   

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-6
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-6", 
                        aria-expanded="true", aria-controls="chapter-6") 6. What is the situation of social action scholarship students when selected for the award of an Erasmus+ mobility grant?

                    #chapter-6.accordion-collapse.collapse(aria-labelledby="heading-6", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 In accordance with Order No. 17706/2009, of 31 July, for higher education students who have been awarded an Erasmus scholarship and who are social action scholarship holders, the National Agency for the Management of the Lifelong Learning Programme will ensure an additional grant of not less than 50% of the value of the minimum Erasmus grant.


            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-7
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-7", 
                        aria-expanded="true", aria-controls="chapter-7") 7. What is the linguistic support for Erasmus+ mobility?

                    #chapter-7.accordion-collapse.collapse(aria-labelledby="heading-7", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 The GRI and the IPB Language Centre (www.ese.ipb.pt/clinguas) organise English and Spanish courses specially designed for IPB students who wish to carry out Erasmus mobility.Students who successfully complete the course will be awarded a diploma proving the level of competence, in accordance with the Council of Europe's Common European Framework of Reference for Languages. Obtaining this diploma is a priority in the award of an Erasmus mobility grant.

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-8
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-8", 
                        aria-expanded="true", aria-controls="chapter-8") 8. What is the situation of Erasmus+ mobility students regarding tuition fees?

                    #chapter-8.accordion-collapse.collapse(aria-labelledby="heading-8", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 The student selected for an Erasmus mobility must pay the regular tuition fee at the IPB. No tuition fee will be charged by the host higher education institution (HEI).

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-9
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-9", 
                        aria-expanded="true", aria-controls="chapter-9") 9. How to submit an application for Erasmus+ mobility and what are the deadlines?

                    #chapter-9.accordion-collapse.collapse(aria-labelledby="heading-9", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 The application for Erasmus mobility is made online, on the Erasmus Applications Portal, to be made available within the deadlines defined annually by the IPB International Relations Office (GRI).

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-10
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-10", 
                        aria-expanded="true", aria-controls="chapter-10") 10. Which countries and higher education institutions can be carried out?

                    #chapter-10.accordion-collapse.collapse(aria-labelledby="heading-10", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 The completion of the mobility period requires the existence of a bilateral agreement with a European HEI and the definition of an individual study or traineeship contract with that institution (SMS mobility) or with a company (SMP mobility). Check the List of partner HEIs for Erasmus mobility and fields of study and get advice from your School's Erasmus Coordinator.
                              
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-11
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-11", 
                        aria-expanded="true", aria-controls="chapter-11") 11. How long is the mobility period?

                    #chapter-11.accordion-collapse.collapse(aria-labelledby="heading-11", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 At IPB, the common duration of a study mobility (SMS) is 4 months (minimum duration of 3 months). If there is financial availability at the end of the academic year, for students who have carried out mobility without a scholarship and mobility of more than 4 months, an additional scholarship may be awarded, with priority given to students who have carried out mobility without a scholarship, followed by students who have carried out mobility to less frequent European countries. At IPB, the common duration of a mobility for internships (SMS) is 4 months for curricular internships and between 2 and 8 months for extracurricular and end-of-course internships (minimum duration of 2 months). Internship mobility can also be used to carry out a professional internship, subject to a final report, in master's study cycles (SMP, master's degree) and to carry out an internship by recent IPB graduates (Bachelors or Masters), provided that it is completed within 12 months after the date of obtaining the respective diploma.

            
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-12
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-12", 
                        aria-expanded="true", aria-controls="chapter-12") 12. How to choose the study programme at the host higher education institution?

                    #chapter-12.accordion-collapse.collapse(aria-labelledby="heading-12", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 The student should contact the Erasmus Coordinator of his/her School for guidance and definition of the individual study program to follow in the host HEI. Before departure, all students selected for mobility must sign their learning agreement. This contract will be signed by the student and the Academic and Institutional Coordinators of both institutions.
   

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-13
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-13", 
                        aria-expanded="true", aria-controls="chapter-13") 13. Once selected, what do I need to do to prepare for my mobility?

                    #chapter-13.accordion-collapse.collapse(aria-labelledby="heading-13", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 If the student is selected for a mobility period, he/she must immediately go to the IRO to fill in the necessary forms and submit the following documentation: two copies of the learning agreement duly signed by the Erasmus Coordinator of his/her School, application form of the host HEI, two passport-size photographs, photocopy of the Identity Card and NIF or Citizen Card.You should also find out about the host HEI by consulting its website and, in particular, find out about the deadlines established by it.


        

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-14
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-14", 
                        aria-expanded="true", aria-controls="chapter-2") 14. How do I schedule travel and accommodation at the host higher education institution?

                    #chapter-14.accordion-collapse.collapse(aria-labelledby="heading-14", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Selected students should consult the IRO and the webpage of the host HEI for information on accommodation. Trips and bookings are the responsibility of the student.

            

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-15
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-15", 
                        aria-expanded="true", aria-controls="chapter-15") 15. What should I do with regard to Health Care?

                    #chapter-15.accordion-collapse.collapse(aria-labelledby="heading-15", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Before departure, the student must apply for the European Health Card at the Regional Social Security Centre in his/her area of residence. This document guarantees health care during your stay in a member country of the European Union. If the mobility is carried out to other countries that are not members of the European Union, the student must take out health insurance.
        
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-16
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-16", 
                        aria-expanded="true", aria-controls="chapter-16") 16. After arriving at the host higher education institution, there was a need to change the curricular units to be carried out. How do I make the change?

                    #chapter-16.accordion-collapse.collapse(aria-labelledby="heading-16", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 The student should contact the Erasmus Coordinator of his/her School to assess the necessary changes and amend the learning agreement, which should be signed by the host HEI and sent to the GRI.
   

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-17
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-17", 
                        aria-expanded="true", aria-controls="chapter-17") 17. Is it possible to extend the Erasmus+ mobility period?

                    #chapter-17.accordion-collapse.collapse(aria-labelledby="heading-17", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Yes, as long as it is accepted by the IPB Erasmus Coordinator, by the host HEI and as long as the total duration of the mobilities for studies or internships carried out during the cycle of studies (Bachelor's or Master's degree) does not exceed 12 months. The extension will be carried out without the attribution of an additional scholarship. Students who wish to extend their mobility period should contact the IRO one month before the end of the previous mobility period.


            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-18
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-18", 
                        aria-expanded="true", aria-controls="chapter-18") 18. Where can I find more information about the IPB Erasmus+ Programme?

                    #chapter-18.accordion-collapse.collapse(aria-labelledby="heading-18", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 All relevant information is available on this GRI website. For clarification of any additional doubts, the student should contact the IRO or the Erasmus Coordinator of his/her School.
        

                   





        include ../includes/footer_en
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

