doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Erasmus+ - EsACT
        <meta name="description" content="Erasmus+ IPB: Candidata-te a uma experiência de mobilidade internacional na Europa ou no Mundo. Bolsas disponíveis para estudos e estágios. Inscrições até 19 de março de 2023.">
        <meta name="keywords" content="Erasmus, EsACT, Candidaturas, Experiência, Estrangeiro, Mobilidade, Estudos, Estágios, Bolsas, Valores bolsas, Curso de línguas, Centro de Línguas, IPB, Gabinete de relações internacionais, Perguntas, Respostas">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#top
            .col#erasmusimg
                .erasimg(style="background-image: url('../../../imgs/erasmus.jpeg');")
                    .erastext.d-flex.justify-content-center.align-items-center
                        h1.fw-bold.display-3 Erasmus+

            .container
                    
                    .col.d-flex.justify-content-center
                        i.h2.bi.bi-caret-down

                    .decptext.text-center
                        h2 Candidaturas até:
                    
                    .decptext.text-center
                        p.lead.display-6 19 de março de 2023

            

                    .decptext.text-start
                        h3 Experiência no estrangeiro:
                        p.lead Um recente estudo efetuado pela Comissão Europeia concluiu que os diplomados com experiência de mobilidade internacional apresentam taxas de desemprego 23% inferiores aos restantes diplomados.O IPB assegura a mobilidade internacional de 900 estudantes por ano; 20% dos estudantes do IPB são estrangeiros; 25% dos seus diplomados efetuaram um período de mobilidade internacional ao longo do ciclo de estudos.Também tu podes e deves ter uma experiência de mobilidade internacional, na Europa (através do Programa Erasmus+) e no Mundo (através de protocolos de cooperação com instituições de ensino superior parceiras nos cinco continentes). Poderás realizar mobilidade internacional para estudos e para estágios, na condição de estudante e na condição de recém-graduado. Como estudante do IPB tens à tua disposição bolsas de apoio aos vários tipos de mobilidade internacional.
            
            .container.d-flex.justify-content-center.pt-5 
                a(href="https://online.ipb.pt/ui/#/site/gri/candidaturas/mobilidade" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Candidaturas


        section#info.mt-5
            .container
                .decptext.text-start
                     h4 Durante cada ciclo de estudos, o estudante poderá efetuar mobilidades para estudos (bolsas SMS) e para estágio (bolsas SMT, na condição de estudante ou recém-graduado), num total de 12 meses (12 meses para CTESP + Licenciatura e outros 12 meses para Mestrado).
                  
                .decptext.text-start
                     h4 Mobilidade para Estudos:
                     p.lead A mobilidade para estudos (SMS) destina-se a estudantes de ciclos de estudos de Licenciatura e Mestrado para efetuar unidades curriculares numa Instituição de Ensino Superior (IES) europeia. O IPB garante a atribuição de bolsa SMS durante todo o período de mobilidade (entre 3 e 12 meses). A realização de mobilidade de estudos será certificada no Suplemento ao Diploma.
                  
                   
                .decptext.text-start
                     h4 Mobilidade para Estágios:
                     p.lead A mobilidade para estágios (SMT) destina-se: <br> a) A estudantes, para realização de estágios curriculares e extracurriculares de CTESPs Licenciaturas e Mestrados (incluindo estágios para Dissertação, Projeto ou Estágio Profissional objeto de relatório final); <br> b) A recém-graduados, desde que concluído até um ano após a data de obtenção do diploma do ciclo de estudos em que se encontrava inscrito. <br> O IPB garante a atribuição de bolsa SMT durante todo o período de mobilidade (entre 2 e 12 meses). A realização de estágios curriculares e extracurriculares será certificada no Suplemento ao Diploma quando realizado na condição de estudante ou através de certificado próprio quando realizado na condição de recém-graduado.
                  
                   
                .decptext.text-start
                     h4 Bolsas:
                     p.lead A preparação linguística dos estudantes é essencial para o sucesso da mobilidade Erasmus e Internacional e uma clara mais-valia para a sua empregabilidade em ambos os contextos nacional e internacional. Não percas esta oportunidade que o IPB te oferece!Por apenas 20 Euros, os estudantes do IPB poderão realizar um curso de preparação linguística na língua inglesa ou outras (espanhol, francês, alemão, mandarim), de acordo com o seu nível de proficiência. Os estudantes bolseiros da Ação Social estarão isentos deste pagamento. No ato de candidatura às bolsas de mobilidade Erasmus e Internacional, os estudantes deverão escolher o curso de preparação na língua preferida.
                  

            .container.d-flex.justify-content-center.pt-5 
                a(href="../../../pdf/Bolsas_erasmus.pdf" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Valores das Bolsas

        section#cursol.mt-5
            .container
                .decptext.text-center
                     h2 Cursos de línguas
                  
                .decptext.text-start
                     p.lead A preparação linguística dos estudantes é essencial para o sucesso da mobilidade Erasmus e Internacional e uma clara mais-valia para a sua empregabilidade em ambos os contextos nacional e internacional. Não percas esta oportunidade que o IPB te oferece!Por apenas 20 Euros, os estudantes do IPB poderão realizar um curso de preparação linguística na língua inglesa ou outras (espanhol, francês, alemão, mandarim), de acordo com o seu nível de proficiência. Os estudantes bolseiros da Ação Social estarão isentos deste pagamento. No ato de candidatura às bolsas de mobilidade Erasmus e Internacional, os estudantes deverão escolher o curso de preparação na língua preferida.
                  
                   
                .decptext.text-start
                     h4 Cursos de preparação linguística:
                     p.lead Local de funcionamento e organização: nas várias Escolas do IPB, de acordo com o número de estudantes inscritos e sob a organização do Centro de Línguas do IPB; <br> Duração do curso: 1 semestre, 15 semanas, 2x2 horas semanais, em horário compatível com a restante atividade letiva; <br> Certificado: aos estudantes que concluam o curso com aproveitamento será atribuído um diploma comprovativo do nível de competências, de acordo com o Quadro Europeu Comum de Referência para as Línguas do Conselho da Europa;<br>Custo: 20 Euros (os estudantes bolseiras da Ação Social estão isentos de pagamento).
                  
                   
                .decptext.text-start
                     h4 Mais informação:
                   
                  

                .container.d-flex.justify-content-center.pt-5 
                    .row
                        a(href="https://portal3.ipb.pt/index.php/pt/ipb/quem-somos/servicos-centrais/gabinetes-tecnicos/gabinete-de-relacoes-internacionais" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4.me-5.mb-4 Gabinete de Relações Internacionais
                        a(href="https://portal3.ipb.pt/index.php/pt/centrolinguas/cursos-de-linguas" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Centro de Línguas do IPB


        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 FAQ


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") 1. Quais os tipos de mobilidade de estudantes do Programa Erasmus+?
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 A mobilidade de estudantes Erasmus poderá ser efetuada para estudos (SMS, Student Mobility for Studies) ou para estágios curriculares ou extracurriculares (SMP, Student Mobility for Placements). Durante cada ciclo de estudos (Licenciatura e Mestrado) o estudante poderá efetuar mobilidades para estudos (bolsas SMS) e mobilidades para estágio (bolsas SMP, na condição de estudante ou recém-graduado) num total de 12 meses.

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-2") 2. Quem pode participar no Programa Erasmus+?
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Podem participar no Programa Erasmus+ os estudante do IPB que:- Independentemente da sua nacionalidade, estejam matriculados num ciclo de estudos de Licenciatura (no 2º ano curricular ou posterior) ou de Mestrado do IPB, no ano letivo em que efetua a mobilidade e tenham a sua situação de propinas regularizada;- Independentemente da sua nacionalidade, sejam recém-graduados do IPB (Licenciados ou Mestres) e pretendam efetuar mobilidade de estágio extracurricular com término até 12 meses após a data de obtenção do respetivo diploma.

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-3
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-3", 
                        aria-expanded="true", aria-controls="chapter-3") 3. Quais os apoios financeiros à mobilidade Erasmus+?
                    #chapter-3.accordion-collapse.collapse(aria-labelledby="heading-3", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 O IPB disponibiliza anualmente bolsas de mobilidade para estudos (bolsas SMS) e para estágios (bolsas SMP). O número de bolsas disponibilizadas anualmente depende do financiamento e do número mínimo de fluxos estabelecidos pela Agência Nacional. Estas bolsas são distribuídas pelas várias Escolas do IPB, de acordo com o seu historial de mobilidade.
                              
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-4
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-4", 
                        aria-expanded="true", aria-controls="chapter-4") 4. Quais as regras de atribuição de bolsas de mobilidade Erasmus+?
                    #chapter-4.accordion-collapse.collapse(aria-labelledby="heading-4", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 A atribuição de bolsa de mobilidade é da responsabilidade do Coordenador Erasmus de cada Escola. Será dada prioridade de atribuição de bolsa de mobilidade a todos os estudantes que comprovem possuir proficiência na língua inglesa ou noutra língua estrangeira quando utilizada na IES destino (o Centro de Línguas do IPB, em colaboração com o GRI, disponibiliza cursos de Inglês e Espanhol, especialmente desenhados para os estudantes que pretendam efetuar mobilidade Erasmus). Constituem critérios de seriação adicionais os currículos dos candidatos, nomeadamente, a participação em iniciativas Buddy (padrinho Erasmus), o número e a classificação dos créditos acumulados. Caso se entenda pertinente, a seriação dos candidatos poderá incluir a realização de uma entrevista.

            
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-5
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-5", 
                        aria-expanded="true", aria-controls="chapter-5") 5. Posso efetuar mobilidade Erasmus+ sem bolsa?
                    #chapter-5.accordion-collapse.collapse(aria-labelledby="heading-5", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Sim, a mobilidade para além do número de bolsas disponível é possível, mas sem financiamento e desde que respeitando as regras do programa: durante cada ciclo de estudos (Licenciatura e Mestrado) o estudante poderá efetuar mobilidades para estudos (bolsas SMS) e mobilidades para estágio (bolsas SMP, na condição de estudante ou recém-graduado) num total de 12 meses.Os estudantes em mobilidade sem apoio financeiro poderão ainda ser contemplados com bolsa de mobilidade caso haja redistribuição final de verbas pela Agência Nacional, no final de cada ano letivo.
   

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-6
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-6", 
                        aria-expanded="true", aria-controls="chapter-6") 6. Qual a situação dos estudantes bolseiros da ação social quando selecionados para atribuição de bolsa de mobilidade Erasmus+?
                    #chapter-6.accordion-collapse.collapse(aria-labelledby="heading-6", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 De acordo com o Despacho n.º 17706/2009, de 31 de julho, para os estudantes do ensino superior a quem tenha sido atribuída bolsa Erasmus e que sejam bolseiros da ação social, a Agência Nacional para a Gestão do Programa de Aprendizagem ao Longo da Vida assegurará uma bolsa suplementar de montante não inferior a 50 % do valor da bolsa mínima Erasmus.


            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-7
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-7", 
                        aria-expanded="true", aria-controls="chapter-7") 7. Quais os apoios linguísticos à mobilidade Erasmus+?
                    #chapter-7.accordion-collapse.collapse(aria-labelledby="heading-7", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 O GRI e o Centro de Línguas do IPB (www.ese.ipb.pt/clinguas) organizam cursos de Inglês e Espanhol especialmente desenhados para os estudantes do IPB que pretendem efetuar mobilidade Erasmus.Aos estudantes que concluam o curso com aproveitamento será atribuído um diploma comprovativo do nível de competências, de acordo com o Quadro Europeu Comum de Referência para as Línguas do Conselho da Europa. A obtenção deste diploma constitui prioridade na atribuição de bolsa de mobilidade Erasmus.

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-8
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-8", 
                        aria-expanded="true", aria-controls="chapter-8") 8. Qual a situação dos estudantes em mobilidade Erasmus+ relativamente à propina?
                    #chapter-8.accordion-collapse.collapse(aria-labelledby="heading-8", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 O estudante selecionado para uma mobilidade Erasmus deverá proceder ao pagamento regular da propina no IPB. Nenhum encargo de propina será cobrado pela instituição de ensino superior (IES) de acolhimento.

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-9
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-9", 
                        aria-expanded="true", aria-controls="chapter-9") 9. Como submeter uma candidatura à mobilidade Erasmus+ e quais os prazos?
                    #chapter-9.accordion-collapse.collapse(aria-labelledby="heading-9", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 A candidatura à mobilidade Erasmus é efetuada on-line, no Portal Candidaturas Erasmus, a disponibilizar nos prazos definidos anualmente pelo Gabinete de Relações Internacionais do IPB (GRI).

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-10
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-10", 
                        aria-expanded="true", aria-controls="chapter-10") 10. Quais os países e instituições de ensino superior onde se pode realizar a mobilidade?
                    #chapter-10.accordion-collapse.collapse(aria-labelledby="heading-10", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 A realização do período de mobilidade impõe a existência de um acordo bilateral com uma IES europeia e a definição de um contrato individual de estudos ou de estágio com essa instituição (mobilidade SMS) ou com uma empresa (mobilidade SMP). Consulte a Lista de IES parceiras para mobilidade Erasmus e áreas de estudo e obtenha aconselhamento junto do Coordenador Erasmus da sua Escola.
                              
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-11
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-11", 
                        aria-expanded="true", aria-controls="chapter-11") 11. Qual a duração do período de mobilidade?
                    #chapter-11.accordion-collapse.collapse(aria-labelledby="heading-11", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 No IPB, a duração comum de uma mobilidade para estudos (SMS) é de 4 meses (duração mínima de 3 meses). Caso haja disponibilidade financeira no final do ano letivo, para os estudantes que realizaram mobilidade sem bolsa e mobilidade superior a 4 meses, poderá ser atribuída bolsa suplementar, com prioridade para os estudantes que efetuaram mobilidade sem bolsa, seguidos dos estudantes que realizaram mobilidade para países europeus menos frequentes.No IPB, a duração comum de uma mobilidade para estágios (SMS) é de 4 meses para estágios curriculares e de entre 2 a 8 meses para estágios extracurriculares e de fim de curso (duração mínima de 2 meses). A mobilidade para estágio pode ser igualmente utilizada para a realização de estágio profissional objeto de relatório final em ciclos de estudo de mestrado (SMP mestrado) e para a realização de estágio por recém-graduados do IPB (Licenciados ou Mestres) desde que concluído até 12 meses após a data de obtenção do respetivo diploma.

            
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-12
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-12", 
                        aria-expanded="true", aria-controls="chapter-12") 12. Como escolher o programa de estudos na instituição de ensino superior de acolhimento?
                    #chapter-12.accordion-collapse.collapse(aria-labelledby="heading-12", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 O aluno deverá contactar o Coordenador Erasmus da sua Escola para orientação e definição do programa de estudos individual a seguir na IES de acolhimento. Antes da partida, todos os alunos selecionados para mobilidade deverão, obrigatoriamente, assinar o seu contrato de estudos (learning agreement). Este contrato será assinado pelo aluno e pelos Coordenadores Académicos e Institucionais de ambas as instituições.
   

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-13
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-13", 
                        aria-expanded="true", aria-controls="chapter-13") 13. Depois de selecionado, o que necessito fazer para preparar a minha mobilidade?
                    #chapter-13.accordion-collapse.collapse(aria-labelledby="heading-13", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Caso o estudante seja selecionado para um período de mobilidade, deverá de imediato dirigir-se ao GRI para proceder ao preenchimento dos formulários necessários e entregar a seguinte documentação: duas cópias do contrato de estudos (learning agreement) devidamente assinado pelo Coordenador Erasmus da sua Escola, formulário de candidatura (application form) da IES de acolhimento, duas fotografias tipo passe, fotocópia do Bilhete de Identidade e NIF ou Cartão de Cidadão.Deverá igualmente informar-se sobre a IES de acolhimento, consultando a sua página Web e, em particular, informar-se sobre os prazos (deadlines) por ela estabelecidos.


        

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-14
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-14", 
                        aria-expanded="true", aria-controls="chapter-2") 14. Como agendar a viagem e o alojamento na instituição de ensino superior de acolhimento?
                    #chapter-14.accordion-collapse.collapse(aria-labelledby="heading-14", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Os estudantes selecionados deverão consultar o GRI e a página Web da IES de acolhimento para obter informação sobre o alojamento. As viagens e marcações das mesmas são da responsabilidade do aluno.

            

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-15
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-15", 
                        aria-expanded="true", aria-controls="chapter-15") 15. Como devo proceder no que se refere a Cuidados de Saúde?
                    #chapter-15.accordion-collapse.collapse(aria-labelledby="heading-15", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Antes da partida, o aluno deverá solicitar, no Centro Regional de Segurança Social da sua área de residência, o Cartão Europeu de Saúde. Este documento garante os cuidados de saúde durante a sua estadia num país membro da União Europeia. Caso a mobilidade seja realizada para outros países não membros da União Europeia, o aluno deverá efetuar um seguro de saúde.
        
            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-16
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-16", 
                        aria-expanded="true", aria-controls="chapter-16") 16. Após a chegada à instituição de ensino superior de acolhimento verificou-se a necessidade de alteração das unidades curriculares a realizar. Como proceder à alteração?
                    #chapter-16.accordion-collapse.collapse(aria-labelledby="heading-16", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 O estudante deverá contactar o Coordenador Erasmus da sua Escola para avaliar as alterações necessárias e proceder à alteração do contrato de estudos (learning agreement), o qual deverá ser assinado pela IES de acolhimento e enviado ao GRI.
   

            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-17
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-17", 
                        aria-expanded="true", aria-controls="chapter-17") 17. É possível o prolongamento do período de mobilidade Erasmus+?
                    #chapter-17.accordion-collapse.collapse(aria-labelledby="heading-17", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Sim, desde que aceite pelo Coordenador Erasmus do IPB, pela IES de acolhimento e desde que a duração total das mobilidades para estudos ou estágios efetuadas durante o ciclo de estudos (grau de Licenciado ou Mestre) não ultrapasse 12 meses.O prolongamento será efetuado sem atribuição de bolsa adicional. O estudante que pretenda o prolongamento do seu período de mobilidade deverá contactar o GRI um mês antes do término do anterior período de mobilidade.


            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-18
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-18", 
                        aria-expanded="true", aria-controls="chapter-18") 18. Onde poderei obter mais informação sobre o Programa Erasmus+ do IPB?
                    #chapter-18.accordion-collapse.collapse(aria-labelledby="heading-18", data-bs-parent="#chapters")
                        .accordion-body

                            p.mt-3 Toda a informação relevante encontra-se disponível nesta página Web do GRI. Para o esclarecimento de qualquer dúvida adicional, o estudante deverá contactar o GRI ou o Coordenador Erasmus da sua Escola.
        

                   





        include ../includes/footer
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

